%form{:id => 'registration-form', :action => url_for(controller: :users, action: :create), :method => 'post', :novalidate => ''}
  = hidden_field_tag :authenticity_token, form_authenticity_token

  %label{:for => 'email-user'} Email:
  %input{:type => 'email', :name => 'email-user', :id => 'email-user'}

  %label{:for => 'password-user'} Password:
  %input{:type => 'password', :name => 'password-user', :id => 'password-user'}

  %label{:for => 'password-confirm'} Confirm password:
  %input{:type => 'password', :name => 'password-confirm', :id => 'password-confirm'}
  %br
  %br
  %input{:type => 'submit', :id => 'submit-button', :value => 'Sign up'}