.wrapper-page {
  width: 1080px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #2E2F30;
  font-size: 14px;
  text-align: right;
  margin: 5px 0;
  padding: 5px 10px;
}

.wrapper-content {
  clear: both;
  padding: 10px;
}

.hidden {
  display: none;
}

.user-profile-avatar {
  width: 120px;
  position: relative;
  overflow: hidden;
}

input.user-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500em;
  height: 500em;
  opacity: 0;
}
